body{
    margin: 0px;
}  
p{
    text-align: justify;
    color: dimgray;
}  
h1{
    font-size: 50px;
    font-family:'Poppins', sans-serif;
}
.highlight{
    color: rgb(211, 12, 12);
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    margin-top: 5%;
    width: 93% ;
}
.top{
    background-image: url(image/top-banner.png) ;
    background-repeat: no-repeat;
}

section{
    height: 600px;
}

.btn{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-family:'Poppins', sans-serif;
    font-weight: bold;
}
.mid{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.box1{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 50%;
    padding: 20px 20px;
    background-color: white;
    margin-top: 40px;
}
.experience{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#avenger{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon,tomato);
    border-image-slice: 1;
}
#beginning{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue, cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
    font-size: 12px;
}